.box {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid gray;
}

.form {
  display: flex;
  align-items: center;
}

.text {
  padding: 5px;
  margin-right: 20px;
  height: 30px;
  width: 450px;
  resize: none;
}

.btn {
  padding: 10px 20px;
  color: wheat;
  background-color: teal;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
