.btn {
  padding: 10px 20px;
  font-size: 18px;
  background-color: rgb(169, 229, 229);
  border: 1px solid black;
  border-radius: 6px;
  cursor: pointer;
}
.btn:not(:last-child) {
  margin-right: 15px;
}
