.list {
  padding: 10px;
  margin: 0;
  list-style: none;
  width: 800px;
  background-color: #c6f7f7;
  border: 1px solid black;
}
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: gray;
  border: 1px solid black;
}
.item:not(:last-child) {
  margin-bottom: 10px;
}
.item:nth-child(2n) {
  background-color: white;
}
.done {
  composes: item;
  border: 4px solid green;
}
.btn {
  cursor: pointer;
}
