ul {
  padding: 10px;
  margin: 0;
  list-style: none;
  width: 800px;
  background-color: #c6f7f7;
  border: 1px solid black;
}
li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: gray;
  border: 1px solid black;
}
li:not(:last-child) {
  margin-bottom: 10px;
}
li:nth-child(2n) {
  background-color: white;
}
.btn {
  cursor: pointer;
}
